<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="./../style.css" />
  </head>
  <body>
    <h1>Tāranātha's life</h1>
    <p>
      Tāranātha lived from 1575 to 1634 in Tibet and was one of the most
      influential scholars of his time. He was not only knwon for his knowledge
      in Tibetan Buddhist philosophy, but also for his political influence on
      the Tsang rulers of his time.
    </p>
    <p>
      His name which derives from Sanskrit shows his affinity to the language of
      the holy land India and his close connection to Tāra.
    </p>
    <h3>
      His philosophical works and his importance for the proclamation of
      Shentong or gzhan stong in Tibetan.
    </h3>
    <p>
      Tā ra nā tha is considered second in importance only to Dol po pa with
      regards to the proclamation of gzhan stong and the number of authored
      works. He clarifies and expands Dol po pa’s exegesis of gzhan stong unlike
      anyone before him, and he is also credited with systemizing Dol po pa’s
      gzhan stong view into a tenet system. This remains an important issue in
      Tibetan philosophical history, and a study of Tā ra nā tha’s dBu ma theg
      mchog will reveal a deeper understanding of this development.
    </p>
    <p>
      The persecution of the Jo nang school which began in the 17th century was
      for the largest part due to political circumstances and the need of the
      dGe lugs pas to get rid of a powerful political enemy. Tā ra nā tha had
      enjoyed a close relationship with the different Tsangpa rulers of his
      time, and when these were defeated by Gushri Khan’s Qoshot Mongols acting
      in favor of the dGe lugs pas, the Jo nang monasteries were converted to
      the dGe lugs curriculum. Thus, in Central Tibet the works and printing
      blocks of the Jo nang school were sealed, reprints were forbidden, and the
      tradition survived only in A mdo, where the legislative arm of the dGe
      lugs government could not reach, overlooked by most Tibet-ans outside that
      area. The reprinting of Tā ra nā tha’s works was only allowed again in the
      19th centu-ry.
    </p>
  </body>
</html>
