<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tāranātha</title>
    <link rel="stylesheet" href="./../style.css" />
  </head>
  <body>
    <h1>རྗེ་བཙུན་ཏཱ་ར་ནཱ་ཐ།</h1>
    <br />
    <p>
      རྗེ་བཙུན་ཏཱ་ར་ནཱ་ཐ་ or Jetsun Tāranātha was a Tibetan master of the Jonang
      tradition of Tibetan Buddhism. On these pages I will present this Tibetan
      luminary, his biography and his works.
    </p>
  </body>
</html>
