<h1>རྗེ་བཙུན་ཏཱ་ར་ནཱ་ཐ།</h1>
<p>
  རྗེ་བཙུན་ཏཱ་ར་ནཱ་ཐ་ or Jetsun Tāranātha was a Tibetan master of the Jonang
  tradition of Tibetan Buddhism. On these pages I will present this Tibetan
  luminary, his biography and his works.
</p>
<img src='../Jomonang_Jonangfoundation.jpeg' alt='Picture of Jomonang Stupa' />