<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="./../style.css" />
  </head>
  <body>
    <h1>Tāranātha's works</h1>
    <p>
      Tā ra nā tha’s collected works (gsung ’bum) are preserved in different
      editions whose volumes number anywhere from 10 to 45. His compositions
      range from tantric commentarial literature to autobio-graphical works ,
      pilgrimage literature , an analysis of the dohās of different Indian
      siddhas , histor-ical works and philosophical works. His philosophical
      works number to around ten and are mostly found in the final volumes of
      his gsung ’bum. They mostly explain his Empty-of-Other Great Madh-yamaka
      (gzhan stong dbu ma chen po), but also comment on the Prajñāpāramitā
      literature (in which he also endorses his gzhan stong view). Therefore,
      apart from his numerous works on tantra, his phil-osophical works are few.
      <p>
      The dBu ma theg mchog is the most detailed one and elaborates on all
      essen-tial points of his gzhan stong view. Besides this, his disciple has
      written down explanations by Tā ra nā tha himself, and this commentary
      clarifies the root text to a considerable degree. The dBu ma theg mchog is
      considered to be “essential for understanding the zhentong presentation by
      the great Jonang scholar Taranatha.” 
      </p>
      <p>The text is divided into eight chapters and consists of 53 folios in the rTag brtan Phun tshogs gling
      edition or 53 pages in the Jo nang dpe tshogs edition published in 2007.
      It covers a wide range of topics relevant to the gzhan stong view: the
      nature of the middle, buddha-essence (here equated to the dharmadhātu),
      the eight consciousnesses, the three natures, dependent arising, the two
      selflessnesses, the two truths, path and result as well as a definition of
      the Five Dharmas in chapter five, which are taken from the
      Laṅkāvatārasūtra. All these topics are essential Mahāyāna concepts ranging
      from Yogācāra to Madhyamaka and from the Laṅkāvatārasūtra to the
      Tathāgata-garbhasūtras.</p> 
    </p>
  </body>
</html>
