<h1>Tāranātha's works</h1>
<p>
  Tā ra nā tha’s collected works (gsung ’bum) are preserved in different
  editions whose volumes number anywhere from 10 to 45. His compositions range
  from tantric commentarial literature to autobiographical works, pilgrimage
  literature, an analysis of the dohās of different Indian siddhas, historical
  works and philosophical works. His philosophical works number to around ten
  and are mostly found in the final volumes of his gsung ’bum. They mostly
  explain his Empty-of-Other Great Madhyamaka (gzhan stong dbu ma chen po), but
  also comment on the Prajñāpāramitā literature (in which he also endorses his
  gzhan stong view). Therefore, apart from his numerous works on tantra, his
  phil-osophical works are few.
</p>

<p>
  The dBu ma theg mchog is the most detailed one and elaborates on all essential
  points of his gzhan stong view. Besides this, his disciple has written down
  explanations by Tā ra nā tha himself, and this commentary clarifies the root
  text to a considerable degree. The dBu ma theg mchog is considered to be
  “essential for understanding the zhentong presentation by the great Jonang
  scholar Taranatha.” Tāranātha based his treatise on Dölpopa’s Extraordinary
  Pith Instructions on Madhyamaka and is known to have expanded and systemized
  Dölpopa’s view. The commentary on the first six chapters of the Great
  Madhyamaka Vehicle was composed by Tāranātha’s disciple Yeshé Gyatso (Ye shes
  rgya mtsho, sixteenth/seventeenth century), who recorded notes from the direct
  teachings of Tāranātha. It is said that Tāranātha gave teachings on this text
  at least once each year over a period of time. According to the preface to the
  2011 edition of the Jonang Well Being Association, the commentary to the final
  two chapters was composed by Shākya Gelong Lobsang Khedrub Gyatso (Shākya’i
  dge long Blo bzang mkhas grub rgya mtsho). The colophon of the Jo nang dpe
  tshogs edition and the Jo nang mdo sngags rigs pa’i dpe tshogs edition, on the
  other hand, state that it was composed by a certain Śākya Gelong Lobsang
  Chokdrub Gyatso (Śākya’i dge long Blo bzang mchog grub rgya mtsho), leading to
  the assumption that none other than Dzago Geshé (Dza ’go dge bshes, died 1914)
  can be meant here.
</p>
<p>
  The text is divided into eight chapters and consists of 53 folios in the rTag
  brtan Phun tshogs gling edition or 53 pages in the Jo nang dpe tshogs edition
  published in 2007. It covers a wide range of topics relevant to the gzhan
  stong view: the nature of the middle, buddha-essence (here equated to the
  dharmadhātu), the eight consciousnesses, the three natures, dependent arising,
  the two selflessnesses, the two truths, path and result as well as a
  definition of the Five Dharmas in chapter five, which are taken from the
  Laṅkāvatārasūtra. All these topics are essential Mahāyāna concepts ranging
  from Yogācāra to Madhyamaka and from the Laṅkāvatārasūtra to the
  Tathāgatagarbhasūtras.
</p>